{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adverts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Address</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            <tr>
                <td><a href="{{ path('advert_show', { 'id': advert.id }) }}">{{ advert.id }}</a></td>
                <td>{{ advert.title }}</td>
                <td>{{ advert.description }}</td>
                <td>{{ advert.latitude }}</td>
                <td>{{ advert.longitude }}</td>
                <td>{{ advert.address }}</td>
                <td>{{ advert.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('advert_show', { 'id': advert.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('advert_edit', { 'id': advert.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('advert_new') }}">Create a new advert</a>
        </li>
    </ul>
{% endblock %}
