{% extends 'base.html.twig' %}

{% block body %}
    <h1>Advert</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advert.description }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ advert.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ advert.longitude }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ advert.address }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ advert.price }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('advert_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('advert_edit', { 'id': advert.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
