{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('assets/pictures/piscine1.jpeg') }}" alt="" class="advert-img">
    {#{{advert.pictures}}#}
    <div class="container">
        <h1>{{ advert.title }}</h1>
        <p>{{ advert.type }} à {{ advert.address }}</p>
        <h2>Description</h2>
        {{ advert.description }}
        {#<h2>Équipements</h2>#}
        {#{{ advert.characteristics}}#}
        <h2>Prix</h2>
        <p>{{ advert.price }} € par heure </p>
    </div>

{% endblock %}
