{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('assets/pictures/piscine1.jpeg') }}" alt="" class="advert-img">
{#{{advert.pictures}}#}
<div class="container">
    <h1>{{ advert.title }}</h1>



                Description
                {{ advert.description }}

                {{ advert.address }}
                Price
                {{ advert.price }}
    </div>

{% endblock %}
