{% extends 'base.html.twig' %}


{% block body %}

    {# Jumbotron #}
    <section>

        <div class="jumbotron">
            <div class="container bandeau">
                <h1>Restez sportifs pendant vos vacances !</h1>
                <h2>Avec Hobbea, louez une piscine ou un court de tennis chez des particuliers.</h2>

                {# Search box #}
                {{ form_start(form) }}

                <div class="row">
                    <div class="form-group col-md-6 col-xs-12">
                        {{ form_widget(form.city) }}
                    </div>
                    <div class="form-check checkbox-custom col-md-4 col-xs-12">
                        {{ form_widget(form.type, { 'attr': {'checked': 'checked'}}) }}
                    </div>
                    <div class="form-group col-md-2 col-xs-12">
                        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Go !</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            {# End of search box #}
        </div>

    </section>
    {# End of jumbotron #}

    {# Highlights #}
    <section>
        <div class="container">
            <h2 class="">Nos coups de cœur</h2>
            {#<div class="row">
                <a href="#}{# showOneKindOfRoute #}{#">
                    <div class="col col-md-offset-2 col-md-3 col-sm-6 col-xs-12">
                        <img src="#}{# advert.url #}{#">
                        <p>#}{# advert.title #}{#</p>
                        <p>#}{# advert.address #}{#</p>
                    </div>
                </a>
                <a href="#}{# showOneKindOfRoute #}{#">
                    <div class="col col-md-offset-2 col-md-3 col-sm-6 col-xs-12">
                        <img src="#}{# advert.url #}{#">
                        <p>#}{# advert.title #}{#</p>
                        <p>#}{# advert.address #}{#</p>
                    </div>
                </a>
            </div>#}
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ asset('assets/pictures/piscine1.jpeg') }}" alt="..." class="crush-img">
                        <div class="caption">
                            <h3>Playa chez Bob - Hyères</h3>
                            <p>Piscine avec palmiers</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ asset('assets/pictures/piscine2.jpeg') }}" alt="..." class="crush-img">
                        <div class="caption">
                            <h3>Piscine à Paris - Paris</h3>
                            <p>Piscine chauffée</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ asset('assets/pictures/tennis1.jpeg') }}" alt="..." class="crush-img">
                        <div class="caption">
                            <h3>Roland Garros privé - La Loupe</h3>
                            <p>Venez-jouer !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End of highlights #}
    </section>
    {# Owner benefits #}
    <section>
        <div class="container">
            <h2>Propriétaires, gagnez jusqu'à 1.000.000€ par an</h2>
            <div class="row">
                <div class="col-md-6">
                    <p>Donnez une seconde vie à vos infrastructures sportives et louez-les à des voyageurs.</p>
                    <p>Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen,
                        Isauri quidem
                        alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae
                        propinquantis aerumnas
                        exitialis horrebant. </p>
                    <p>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid
                        velimus,
                        perfecta quidem sapientia si simus, nihil habeat res vitii; sed loquimur de iis amicis qui ante
                        oculos sunt,
                        quos vidimus aut de quibus memoriam accepimus, quos novit vita communis. Ex hoc numero nobis
                        exempla sumenda
                        sunt, et eorum quidem maxime qui ad sapientiam proxime accedunt.</p>
                    {#<button type="button" class="btn-default">+ d'informations</button>#}
                </div>
                <div class="col-md-6">
                    <img src="https://media.giphy.com/media/VTxmwaCEwSlZm/giphy.gif" width="100%">
                </div>
            </div>
        </div>


        {# End of owner benefits #}

    </section>
{% endblock %}
