{% extends 'base.html.twig' %}

{% block body %}


    {% for advert in adverts %}
        <div>
            <div>
                {#<img src="{{ advert.picture }}">#}
                <p>{{ advert.type }}</p>
                <p>{{ advert.title }}</p>
                <p>{{ advert.address }}  {#{{ advert.rate }}</p>#}
            </div>
        </div>
    {% endfor %}

{% endblock %}