{% trans_default_domain 'FOSUserBundle' %}

{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {#
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    #}

    <div class="container container-user">

        <form action="{{ path('fos_user_registration_register') }}" method="post">

            <div class="register-form">

                <div class="formgroup contact-input">
                    {{ form_widget(form.firstname) }}
                    {{ form_errors(form.firstname) }}
                </div>

                <div class="formgroup contact-input">
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="formgroup contact-input">
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="formgroup contact-input">
                    {{ form_widget(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                </div>

                <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-lg"/>

            </div>

            {{ form_end(form) }}

        </form>

    </div>

{% endblock fos_user_content %}
